.items { 
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    top: 24px;
    color: #1a1a1a;
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    text-align: left;
}

.button {
    display: flex;
    width: 20px;
}
